################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TechnicalAssignment/v16
/.vs
/TechTieraTechnicalAssignment/.vs/TechTieraTechnicalAssignment
/TechTieraTechnicalAssignment/TechTieraTechnicalAssignment/bin/Debug/net5.0
/TechTieraTechnicalAssignment/TechTieraTechnicalAssignment/obj
/TechTieraTechnicalAssignment/UnitTest/obj
