@{
	ViewData["Title"] = "Home Page";
}


<h4 class="display-4">Upload Transaction File</h4>

<div class="container">
	@using (Html.BeginForm("uploadfile", "api/file/v1", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		<div class="form-row">
			<input class="form-control" type="file" id="formFile" name="formFile">
		</div>
		<br />
		<div class="col-md-10">
			<input type="submit" value="Upload" class="btn btn-primary mb-2" />
		</div>
		@ViewBag.Message
	}
</div>
